body {
    margin: 0;
}

#controls {
    display: block;
}

#graffics {
    background: darkgray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

button, .dropdown-item {
    cursor: pointer;
}

button:hover {
    background: blue;
}

#carCanvas {
    background: lightgray;
}
#networkCanvas {
    background: black;
}
